<!DOCTYPE html>
<html>
  <head>
    <title>Controle De Horas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Chegada</th>
            <th scope="col">Almoço</th>
            <th scope="col">Retorno</th>
            <th scope="col">Saída</th>
            <th scope="col">Somatório do dia</th>
          </tr>
        </thead>
        
        <tbody>
          <% @horarios.each do |horario| %>
            <tr>
              <td><%= horario&.data&.strftime('%d/%m/%Y') %></td>
              <td><%= horario&.inicio&.strftime('%H:%M') %></td>
              <td><%= horario&.inicio_almoco&.strftime('%H:%M') %></td>
              <td><%= horario&.fim_almoco&.strftime('%H:%M') %></td>
              <td><%= horario&.fim&.strftime('%H:%M') %></td>
              <td><%= horario&.horas_trabalhadas_dia&.strftime('%H:%M') %></td>
              <td><%= link_to "Remover", horario, method: :delete, data: { confirm: "Tem certeza que deseja remover esse lançamento?" } %></td>
            </tr>
          <% end %>
        </tbody>
    </div>
  </body>
</html>