<!DOCTYPE html>
<html>
  <head>
    <title>Controle De Horas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
        <%= form_for @horario, url: {action: "create"} do |f| %>
          <div class="form-group">
            <label>Data</label>
            <input class="form-control" <%= f.date_field :data, required: true %>
          </div>
          <div class="form-group">
            <label>Chegada</label>
            <input class="form-control" <%= f.time_field :inicio, required: true %>
          </div>
          <div class="form-group">
            <label>Almoço</label>
            <input class="form-control" <%= f.time_field :inicio_almoco, required: true %>
          </div>
          <div class="form-group">
            <label>Retorno</label>
            <input class="form-control" <%= f.time_field :fim_almoco, required: true %>
          </div>
          <div class="form-group">
            <label>Saída</label>
            <input class="form-control" <%= f.time_field :fim, required: true %>
          </div>
          <%= f.submit "Create", html: {class: "btn btn-primary"} %>
        <% end %>
        <%= @horario.errors.full_messages.first if @horario.errors.any? %>
    </div>
  </body>
</html>